@tailwind base;
@tailwind components;
@tailwind utilities;


/*Nav*/

.navMenu {
    background-image: url('../img/HEADER.png');
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border:gray;
}

.navLinks{
    color: white;
}

.navLinks:hover{
    font-weight: bolder;
    color: white;
}

.buttonDropDown
{
    margin-top:1rem;
    background-color: transparent;
    color: white;

}

.buttonDropDown:hover
{
    margin-top:1rem;
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

/*Estilos carrusel*/
.contenedor {
    position: relative;
    width: 25rem;
    height:20rem;
    background-color: black;
    margin: 0.5rem;

}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.imagen img {
    max-height: 100%;
max-width: 100%;
    position: relative;
height: 512px;
width: 512px;
    left: 50%;
    transform: translateX(-50%);
}
.texto {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    color: white;
    font-weight: bold;
}

.contenedor a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 36px;
    top : 50%;
    transform: translateY(-50%);
}
.siguiente {
    left: 97%;
}

.boton {
    position: absolute;
    top: 5%;
    left: 95%;
}

.puntos {
    position: absolute;
    top: 93%;
    width: 100%;
    text-align: center;
}
.punto {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}
.punto:hover {
    cursor: pointer;
    background-color: gray;
}
.contenedor a:hover {
    color: gray;
}

.actual {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}
.activo {
    background-color: gray;
}

/*Estilos cards*/

.cards-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,2fr);
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}

.card_MV
{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 2rem;

}

.card_menu
{
    grid-column: 1/2;
    margin-left:2rem;
    margin-top: 25rem;
    grid-row: 1/3;
}

.card_noticias
{
    grid-column: 2/3;
    grid-row: 1/3;

}

.card_videos
{

    grid-row: 1/2;
    grid-column: 3/4;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.card_nominas
{
  grid-column: 3/4;
  grid-row: 2/3;
}

/* */


/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }


.tab {
    overflow: hidden;
}
.tab-content {
    max-height: 0;
    transition: all 0.5s;
}
input:checked + .tab-label .test {
    background-color: #000;
}
input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
}

.datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
}
.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
}


.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  /*Login styles*/
  .login{
    background-image: url('../img/login.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login_title{
    color: white;
    font-weight: bolder;
    font-size:2rem;
  }

  .form_login{
    background-color: #000;
    opacity: 85%;
  }

  /*Empleados create*/

  .buttonseccion
  {
    border: 0.2rem solid gray;
    border-radius: 20% 0% 0% 2%;
  }

  .buttonseccion:hover
  {
    border: 0.20rem solid red;

  }

  .divseccion
  {
    margin:1rem;
    justify-content: center;
  }

  .space{
     justify-content: center;
     display: flex;
  }


.buttons_table
{
    display: flex;
}
