@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --fuentePrincipal: 'Montserrat' !important;
}


/*Nav*/

.navMenu {
    background-image: url('../img/HEADER_24.jpg');
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border:gray;
}

.navLinks{
    color: white;
}

.navLinks:hover{
    font-weight: bolder;
    color: white;
}

.buttonDropDown
{
    margin-top:1rem;
    background-color: transparent;
    color: white;

}

.buttonDropDown:hover
{
    margin-top:1rem;
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

/*Estilos carrusel*/
.contenedor {
    position: relative;
    width: 25rem;
    height:20rem;
    background-color: black;
    margin: 0.5rem;

}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.imagen img {
    max-height: 100%;
max-width: 100%;
    position: relative;
height: 512px;
width: 512px;
    left: 50%;
    transform: translateX(-50%);
}
.texto {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    color: white;
    font-weight: bold;
}

.contenedor a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 36px;
    top : 50%;
    transform: translateY(-50%);
}
.siguiente {
    left: 97%;
}

.boton {
    position: absolute;
    top: 5%;
    left: 95%;
}

.puntos {
    position: absolute;
    top: 93%;
    width: 100%;
    text-align: center;
}
.punto {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}
.punto:hover {
    cursor: pointer;
    background-color: gray;
}
.contenedor a:hover {
    color: gray;
}

.actual {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}
.activo {
    background-color: gray;
}

/*Estilos cards*/

.cards-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 1rem;
}

.card_MV
{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 38rem; 
    margin-top: -15rem;
    align-items: center;
    height: 5rem;
    /*margin-left: 2rem;*/
}


.card_menu
{
    grid-column: 1/2;
    grid-row: 2/3;
}

.card_noticias
{
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
}

.carrusel_noticias
{
    width:45rem;
}

.card_videos
{
    grid-column: 2/3;
    grid-row: 1/2;
}

.menu_desplegable
{
    grid-column: 3/4;
    grid-row: 1/3;
    height: 47.5rem;
}

/*Estilos Menu*/
.menu_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Fin estilos Menu*/
@media  (min-width:1800px)
{
    .navLinks
    {
        color: white;
        font-size: 1.10rem;
    }
    
  .cards-container
   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 6rem;
  }

    .card_MV
    {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 50rem; 
        margin-top: -15rem;
        align-items: center;
        height: 5rem;
    }

    .card_videos
    {
        grid-column: 2/3;
        grid-row: 1/2;
        width:50rem;
    }

    .menu_desplegable
    {
      grid-column: 3/4;
      grid-row: 1/3;
 
    }
}


@media  (max-width:1366px)
{
    .carrusel_noticias
    {
        width:36rem;
    }
}

/* */


/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }


.tab {
    overflow: hidden;
}
.tab-content {
    max-height: 0;
    transition: all 0.5s;
}
input:checked + .tab-label .test {
    background-color: #000;
}
input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
}

.datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
}
.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
}


.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  /*Login styles*/
  .login{
    background-image: url('../img/LOGIN_BASE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fuentePrincipal);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
  }

  .texts-login{
    font-family: var(--fuentePrincipal);
  }

  .login_title{
    color: white;
    text-align: center;
  }

  .form_login{
    background-color: #000;
    opacity: 0.6;
  }

  /*Empleados create*/

  .buttonseccion
  {
    border: 0.2rem solid gray;
    border-radius: 20% 0% 0% 2%;
  }

  .buttonseccion:hover
  {
    border: 0.20rem solid red;

  }

  .divseccion
  {
    margin:1rem;
    justify-content: center;
  }

  .space{
     justify-content: center;
     display: flex;
  }


.buttons_table
{
    display: flex;
}



/*Dashboard styles*/

.inicio {
 background-image: url('../img/HOME.png');
 background-repeat: no-repeat;
 background-size: cover;
 font-family: var(--fuenteBold);

}




.inicio_info{
   height: 45rem;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
}


.inicio_info_text{
    grid-column: 1/3;
    grid-row: 2/3;
}

.inicio_quienes_somos
{
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.inicio_quienes_somos_title{
    grid-column: 1/2;
    margin-top: 14rem;
    padding-bottom: 10rem;
}

.inicio_quienes_somos_text{
    grid-column: 2/2;
    margin-top: 12rem;
    padding-bottom: 10rem;
}

.inicio_mv
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20rem;
    height: 30rem;
}

.inicio_m
{
    background-image: url('../img/Mision.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon_m
{
    width: 8rem;
    height: 8rem;
}

.inicio_v{
    background-image: url('../img/Vision.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon_v{
    width: 8rem;
    height: 8rem;
}

.video_section{
    background-image: url('../img/VIDEO_APARTADO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Estilos de cards*/
/*
.card {
    width: 100%;
    padding: 1rem;
    background: white;
    position: relative;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }

  .card:hover {
    transform: translateY(20px);
  }
  .card:hover:before {
    opacity: 0;
  }
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 1;
  } 
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

  }
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    font-family: 'Mons';
  }
  .card .info h1 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 10px;
  }
  .card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .card .info button:hover {
    background: dodgerblue;
    color: white;
  }
*/
/*Estilos Cards fin*/



/*DOCUMENTOS*/

.documentos
{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
}

.documentos_view
{
  grid-column: 2/5;
  margin-top: 2rem;
}

.lateral
{
   box-sizing: border-box;
   width: max(8%, 200px);
   display: inline-block;
   margin-top: 2rem;
   margin-left: 1rem;
}

.lateral header
{
    text-align: center;

}
.lateral ul{
    list-style:none;
    padding-left:0;
    margin-top:0;
    margin-left: 2.2rem;
}
    .lateral ul li{
    display:block;
    position: relative;
    padding: 8px 10px;
    margin-left:0;
    }

    .lateral ul li a{
    color: #c4c8d1;
    text-decoration:none;
    }
    .lateral ul li a:after{
    content: ' ';
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    }
    .lateral ul li:hover, .lateral ul li:hover a{
   
    }

.objetivo 
{
 background-image: url('../img/DOCUMENTOS.jpg');  
 background-repeat: no-repeat; 
 background-size: cover;
 display: flex;
 justify-content: center;
 flex-direction: column;
}


.objetivos
{
    margin-right:16rem; 
}


.objetivo_area 
{
    margin-right:25rem; 
}
/*End Documentos*/


.fondo_pdf
{
   background-image: url('../img/portada_pdf.jpg');
   background-size: cover;
}

.fondo_excel
{
    background-image: url('../img/portada_excel.jpg');
    background-size: cover;
}

/*Estilos reset password*/

.fondo_reset 
{
 background-image: url('../img/LOGIN_BASE.jpg');
 background-size: cover;
 width: auto;
 height: auto;
}

/*Styles new login*/
.table {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .container {
    position: relative;
    width: 600px;
    height: 320px;
   /* background-color: #999ede;*/
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

  }
  .container .box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
 
  .container .container-forms {
    position: relative;
  }
  .container .btn {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 2rem;
    color: #fff;
    background-color: #EC2944;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 2rem;
    padding-left: 4rem;
    padding-right:4rem;
  }
  .container .btn:hover {
    opacity: 0.7;
  }
  .container .btn, .container input {

  }
  .container input {
    margin: 0 auto 15px;
    display: block;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container .container-forms .container-info {
    text-align: left;
    font-size: 0;
  }
  .container .container-forms .container-info .info-item {
    text-align: center;
    font-size: 16px;
    width: 300px;
    height: 320px;
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container .container-forms .container-info .info-item p {
    font-size: 20px;
    margin: 20px;
  }
  .container .container-forms .container-info .info-item .btn {
    background-color: transparent;
    border: 1px solid #fff;
  }
  .container .container-forms .container-info .info-item .table-cell {
    padding-right: 35px;
  }
  .container .container-forms .container-info .info-item:nth-child(2) .table-cell {
    padding-left: 35px;
    padding-right: 0;
  }
  .container .container-form {
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: -30px;
    width: 305px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 1.5rem;
  }
  .container .container-form:before {
    content: "✔";
    position: absolute;
    left: 160px;
    top: -50px;
    color: #EC2944;
    font-size: 130px;
    opacity: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
  }
  .container .container-form .btn {
    position: relative;
    margin-top: 30px;

  }

  .container .form-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container .form-item.sign-up {
    position: absolute;
    left: -100%;
    opacity: 0;
  }
  .container.log-in .box:before {
    position: absolute;
    left: 180px;
    top: 62px;
    height: 265px;
  }
  .container.log-in .box:after {
    top: 22px;
    left: 192px;
    width: 324px;
    height: 220px;
  }
  .container.log-in .container-form {
    left: 265px;
  }
  .container.log-in .container-form .form-item.sign-up {
    left: 0;
    opacity: 1;
  }
  .container.log-in .container-form .form-item.log-in {
    left: -100%;
    opacity: 0;
  }
  .container.active {
    width: 260px;
    height: 140px;
  }
  .container.active .container-form {
    left: 30px;
    width: 200px;
    height: 200px;
  }
  .container.active .container-form:before {
    content: "✔";
    position: absolute;
    left: 51px;
    top: 5px;
    color: #EC2944;
    font-size: 130px;
    opacity: 1;
    z-index: 2;
  }
  .container.active input, .container.active .btn, .container.active .info-item {
    display: none;
    opacity: 0;
    padding: 0px;
    margin: 0 auto;
    height: 0;
  }
  .container.active .form-item {
    height: 100%;
    z-index: -2;
  }
  .container.active .container-forms .container-info .info-item {
    height: 0%;
    opacity: 0;
  }
  
  .rabbit {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    fill: #fff;
  }

/*Fn estilos new login*/

/*Media para pantallas grandes*/
@media (min-width:1800px)
{
    .inicio_info{
        height: 53rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
     }

     .objetivos
     {
        margin-right:28rem; 
     }

     .objetivo_area 
     {
       margin-right:38rem; 
     }

}



/*Activos-Styles*/
.activo_banner 
{
  background-image: url('../img/DOCUMENTOS.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*Input Upload*/

.modal {
	background-color: hsl(var(--hue),10%,95%);
	border-radius: 1em;
	box-shadow: 0 0.75em 1em hsla(var(--hue),10%,5%,0.3);
	color: hsl(var(--hue),10%,5%);
	width: calc(100%);
	max-width: 30.5em;
	overflow: hidden;
	position: relative;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
.modal:before {
	background-color: hsl(223,90%,60%);
	border-radius: 50%;
	content: "";
	filter: blur(60px);
	opacity: 0.15;
	position: absolute;
	top: -8em;
	right: -15em;
	width: 25em;
	height: 25em;
	z-index: 0;
	transition: background-color var(--trans-dur);
}
.modal__actions {
	animation-delay: 0.2s;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.modal__body,
.modal__header {
	position: relative;
	z-index: 1;
}
.modal__body {
	display: flex;
	flex-direction: column;
	padding: 0 2em 1.875em 1.875em;
}
.modal__button,
.modal__close-button {
	color: currentColor;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.modal__button {
	background-color: hsla(var(--hue),10%,50%,0.2);
	border-radius: 0.25rem;
	font-size: 0.75em;
	padding: 0.5rem 2rem;
	transition:
		background-color var(--trans-dur),
		border-color var(--trans-dur),
		opacity var(--trans-dur);
	width: 100%;
}
.modal__button + .modal__button {
	margin-top: 0.75em;
}
.modal__button:disabled {
	opacity: 0.5;
}
.modal__button:focus,
.modal__close-button:focus {
	outline: transparent;
}
.modal__button:hover,
.modal__button:focus-visible {
	background-color: hsla(var(--hue),10%,60%,0.2);
}
.modal__button--upload {
	background-color: transparent;
	border: 0.125rem dashed hsla(var(--hue),10%,50%,0.4);
	flex: 1;
	padding: 0.375rem 2rem;
}
.modal__col + .modal__col {
	flex: 1;
	margin-top: 1.875em;
}
.modal__close-button,
.modal__message,
.modal__progress-value {
	color: hsl(var(--hue),10%,30%);
	transition: color var(--trans-dur);
}
.modal__close-button {
	background-color: transparent;
	display: flex;
	width: 1.5em;
	height: 1.5em;
	transition: color var(--trans-dur);
}
.modal__close-button:hover,
.modal__close-button:focus-visible {
	color: hsl(var(--hue),10%,40%);
}
.modal__close-icon {
	display: block;
	margin: auto;
	pointer-events: none;
	width: 50%;
	height: auto;
}
.modal__content > * {
	/* don’t use shorthand syntax, or actions delay will be overridden */
	animation-name: fadeSlideIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	opacity: 0;
}
.modal__file {
	flex: 1;
	font-size: 0.75em;
	font-weight: 700;
	margin-right: 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.modal__file ~ .modal__button {
	margin-top: 1.5em;
}
.modal__file-icon {
	color: hsl(var(--hue),10%,50%);
	display: block;
	margin-right: 0.75em;
	width: 1.5em;
	height: 1.5em;
	transition: color var(--trans-dur);
}
.modal__header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 2.5em;
	padding: 0.5em;
}
.modal__icon {
	display: block;
	margin: auto;
	width: 2.25em;
	height: 2.25em;
}
.modal__icon--blue g {
	stroke: hsl(223,90%,50%);
}
.modal__icon--red g {
	stroke: hsl(3,90%,50%);
}
.modal__icon--green g {
	stroke: hsl(138,90%,40%);
}
.modal__icon circle,
.modal__icon line,
.modal__icon polyline {
	animation: sdo 0.25s ease-in-out forwards;
	transition: stroke var(--trans-dur);
}
.modal__icon :nth-child(2) {
	animation-delay: 0.25s;
}
.modal__icon :nth-child(3) {
	animation-delay: 0.5s;
}
.modal__icon-sdo10 {
	stroke-dashoffset: 10;
}
.modal__icon-sdo14 {
	stroke-dashoffset: 14.2;
}
.modal__icon-sdo69 {
	stroke-dashoffset: 69.12;
	transform: rotate(-90deg);
	transform-origin: 12px 12px;
}
.modal__message {
	animation-delay: 0.1s;
	font-size: 1em;
	margin-bottom: 1.5em;
	min-height: 3em;
}
.modal__progress {
	flex: 1;
}
.modal__progress + .modal__button {
	margin-top: 1.75em;
}
.modal__progress-bar {
	background-image: linear-gradient(90deg,hsl(var(--hue),90%,50%),hsl(var(--hue),90%,70%));
	border-radius: 0.2em;
	overflow: hidden;
	width: 100%;
	height: 0.4em;
	transform: translate3d(0,0,0);
}
.modal__progress-fill {
	background-color: hsl(var(--hue),10%,90%);
	width: inherit;
	height: inherit;
	transition: transform 0.1s ease-in-out;
}
.modal__progress-value {
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1.333;
	text-align: right;
}
.modal__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
.modal__title {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	text-align: center;
}
/* state change */
[data-state="2"]:before {
	background-color: hsl(3,90%,60%);
}
[data-state="3"]:before {
	background-color: hsl(138,90%,60%);
}
.modal__icon + .modal__icon,
[data-state="1"] .modal__icon:first-child,
[data-state="2"] .modal__icon:first-child,
[data-state="3"] .modal__icon:first-child,
.modal__content + .modal__content,
[data-state="1"] .modal__content:first-child,
[data-state="2"] .modal__content:first-child,
[data-state="3"] .modal__content:first-child {
	display: none;
}
[data-state="1"] .modal__icon:first-child,
[data-state="2"] .modal__icon:nth-child(2),
[data-state="3"] .modal__icon:nth-child(3),
[data-state="1"] .modal__content:nth-child(2),
[data-state="2"] .modal__content:nth-child(3),
[data-state="3"] .modal__content:nth-child(4) {
	display: block;
}
[data-ready="false"] .modal__content:first-child .modal__actions:nth-of-type(2),
[data-ready="true"] .modal__content:first-child .modal__actions:first-of-type {
	display: none;
}
[data-ready="true"] .modal__content:first-child .modal__actions:nth-of-type(2) {
	display: flex;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,35%);
		--fg: hsl(var(--hue),10%,95%);
	}
	.modal {
		background-color: hsl(var(--hue),10%,10%);
		color: hsl(var(--hue),10%,95%);
	}
	.modal__close-button,
	.modal__message,
	.modal__progress-value {
		color: hsl(var(--hue),10%,70%);
	}
	.modal__close-button:hover,
	.modal__close-button:focus-visible {
		color: hsl(var(--hue),10%,80%);
	}
	.modal__file-icon {
		color: hsl(var(--hue),10%,60%);
	}
	.modal__icon--blue g {
		stroke: hsl(223,90%,60%);
	}
	.modal__icon--red g {
		stroke: hsl(3,90%,60%);
	}
	.modal__icon--green g {
		stroke: hsl(138,90%,60%);
	}
	.modal__progress-fill {
		background-color: hsl(var(--hue),10%,20%);
	}
}

/* Animations */
@keyframes fadeSlideIn {
	from { opacity: 0; transform: translateY(33%); }
	to { opacity: 1; transform: translateY(0); }
}
@keyframes sdo {
	to { stroke-dashoffset: 0; }
}

/* Beyond mobile */
@media (min-width: 768px) {
	.modal__actions--center {
		justify-content: center;
		margin-left: -4.125em;
	}
	.modal__body {
		flex-direction: row;
		align-items: center;
	}
	.modal__button {
		width: auto;
	}
	.modal__button + .modal__button {
		margin-top: 0;
		margin-left: 1.5rem;
	}
	.modal__file ~ .modal__button {
		margin-top: 0;
	}
	.modal__file ~ .modal__close-button {
		margin-right: 1.5rem;
	}
	.modal__progress {
		margin-right: 2em;
	}
	.modal__progress + .modal__button {
		margin-top: 0;
	}
	.modal__col + .modal__col {
		margin-top: 0;
		margin-left: 1.875em;
	}
	.modal__title {
		text-align: left;
	}
}